<p-table
  #dt
  styleClass="p-datatable-gridlines p-datatable-striped"
  responsiveLayout="stack"
  [lazy]="true"
  [paginator]="true"
  [selectionPageOnly]="true"
  [filterDelay]="500"
  [value]="(values | async)!"
  [columns]="modelClass.ColumnsDefinitions"
  [rows]="modelClass.TableDefinition.rowsPerPage ?? 5"
  [totalRecords]="totalRecords"
  [loading]="loading"
  (onLazyLoad)="onLazyLoad($event)"
>
  <ng-template pTemplate="caption">
    <div
      class="flex flex-wrap items-center justify-center gap-2 sm:justify-between"
    >
      <h2 class="m-0 text-3xl">{{ modelClass.TableDefinition.title }}</h2>

      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input
          pInputText
          type="text"
          (input)="dt.filterGlobal($any($event.target).value, 'contains')"
          [placeholder]="modelClass.TableDefinition.searchPlaceholder"
        />
      </span>

      <button
        pButton
        pRipple
        label="Nuevo"
        icon="pi pi-plus"
        class="p-button-success fixed bottom-3 left-3 md:static"
        (click)="newRow()"
      ></button>
    </div>
  </ng-template>

  <ng-template pTemplate="header" let-columns>
    <tr crud-table-headers [columns]="columns"></tr>
  </ng-template>

  <ng-template pTemplate="body" let-row let-columns="columns">
    <tr
      crud-table-body
      [columns]="columns"
      [row]="row"
      (editRow)="editRow($event)"
      (deleteRow)="deleteRow($event)"
    ></tr>
  </ng-template>
</p-table>

<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>
